.catalog {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  padding: 32px;
  justify-content: space-between;
}

.catalog__form-wrap {
  width: 332px;
}

.catalog__form-title {
  margin: 0 0 16px;
  font-weight: 600;
  font-size: 28px;
  line-height: 35px;
  color: $eclipse;
}

.catalog__list-wrap {
  display: flex;
  flex-direction: column;
  width: 1028px;
}

.catalog__sort-wrap {
  width: 100%;
  display: flex;
  justify-content: end;
  margin: 0 0 16px;
  height: 35px;
}

.catalog__sort-inner {
  position: relative;
  &::before {
    content: url("../img/icons/icon-arrow.svg");
    position: absolute;
    top: 7px;
    right: 16px;
  }
}

.catalog__sort {
  appearance: none;
  background: $floral-white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border: none;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: $pink-swan;
  padding: 10px 27.5px 11px 16px;
  cursor: pointer;
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 16px;
}
