.product {
  display: flex;
  flex-direction: column;
  max-width: 332px;
  background-color: $floral-white;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.04), 0 6px 10px rgba(0, 0, 0, 0.02);
  border-radius: 4px;
}

.product__text {
  padding: 16px;
  display: flex;
  flex-direction: column;
  color: $eclipse;
}

.product__title {
  margin: 0 0 16px;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
}

.product__description {
  margin: 0 0 32px;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.product__price {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
}
