$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$width-L: 1600px;
$width-M: 1280px;
$width-S: 992px;
$width-XS: 768px;
$min-width: 480px;


//Colors:
$white: #ffffff;
$floral-white: #FFFEFB;
$floral-white-2: rgba(255, 254, 251, 0.8);
$eclipse: #3F3F3F;
$gun-powder: #49485E;
$pink-swan: #B4B4B4;
$amulet: #7BAE73;
