$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$width-tablet: 1280px;
$width-mobile: 768px;
$min-width: 332px;


//Colors:
$white: #ffffff;
$floral-white: #FFFEFB;
$floral-white-2: rgba(255, 254, 251, 0.8);
$eclipse: #3F3F3F;
$gun-powder: #49485E;
$pink-swan: #B4B4B4;
$amulet: #7BAE73;
$light-coral: #FF8484;
